body{
    background: #edf0f1;
    padding: 80px 0 0 0 !important;
    text-align: center;
}

header{
  width: 100%;
  height: 80px;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 8;
  background: #25b99a;
  padding: 15px !important;
  box-shadow: 0 2px 4px rgba(44,62,80,0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#todoTitle{
  font-family: 'Oswald', sans-serif;
  font-size: 62px;
  padding: 0px 0px 15px 0px;
  color: #4a8a48;
  display: none;
}

#completedTitle{
  font-family: 'Oswald', sans-serif;
  font-size: 62px;
  padding: 25px 0;
  color: #4a8a48;
  display: none;
}

.inputField{
  width: 100%;
  height: 50px;
  float: left;
  background: rgba(255,255,255,0.2);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0px;
  box-shadow: none;
  padding-right: 60px;
  outline: none;
  color:#fff;
  font-size: 15px;
  font-weight: 350;
  text-indent: 17px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-appearance:none;
  -o-appearance: none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance: none;
}

.inputField::-webkit-input-placeholder{
  color: rgba(255,255,255,0.75);
}

header button{
  width: 50px;
  height: 50px;
  position: absolute;
  top:15px;
  right: 15px;
  z-index: 4;
  border-radius: 25px;
  background: white;
  outline: none;
  box-shadow: none;
  border:0;
  cursor: pointer;
}

header button svg{
  width:17px;
  height:17px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

.container{
  width:80%;
  padding: 15px;
  margin: 0 auto;
}

.todo{
  width: 100%;
  float: left;

}

.todo li{
  width: 100%;
  min-height: 50px;
  float: left;
  background: white;
  color: #444;
  line-height: 22px;
  position: relative;
  padding: 14px 100px 14px 14px;/* XXX:  */
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(44,62,80,0.10);
  margin-bottom:10px;
}

.todo li:last-child{
  margin:0;
}

.todo li .buttons{
  width:100px;
  height: 50px;
  position: absolute;
  top:0;
  right:0;
}

.todo li .buttons button{
  width: 50px;
  height:50px;
  float: left;
  border:0;
  background: white;
  cursor: pointer;
  position: relative;
  box-shadow: none;
  outline: none;
}

.todo li .buttons button:last-of-type:before{
  content:'';
  width:1px;
  height:30px;
  position:absolute;
  top:10px;
  left:0px;
  background: #edf0f1;
}

.todo li .buttons button svg{
  width: 22px;
  heoght:22px;
  position: absolute;
  top: 50%;
  left:50%;
  margin: -11px 0 0 -11px;
}

.todo li .buttons button.remove:hover svg .fill {
  fill:red;
}

.todo li .buttons button svg .fill{
  transition: fill 0.2s ease;
}

.todo li .buttons button.remove svg .fill {
  fill: #c0cecb;

}


.todo li .buttons button.complete svg .fill{
  fill: #25b99a;
}



#completed li{
  background: #25b99a;
  color: #d8e5e0
}

ul.todo#completed {
  position: relative;
  padding: 25px 0 0 0;
}

/*ul.todo#completed:before {
  content: '';
  width: 150px;
  height: 1px;
  background: #d8e5e0;

  position: absolute;
  top: 30px;
  left: 50%;

  margin: 0 0 0 -75px;
}*/

/*ul.todo#todo:empty:after {
  content: 'You have nothing to-do!';
  margin: 15px 0 0 0;
}

ul.todo#completed:empty:after {
  content: 'You have yet to complete any tasks.';
}

ul.todo#todo:after,
ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}
